@model GPSNavigationSystem.DataEntry.Models.ServiceProviderViewModel

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Add New Service Provider", "Create", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("List All Service Providers", "Index", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</p>

<form asp-controller="ServiceProviders" asp-action="Index" class="form-inline">
    <div class="form-group">
        <input type="search" name="searchString" class="form-control" placeholder="Search" />


    </div>
    <div class="form-group">

        <input type="submit" value="Search" class="btn btn-default" />

    </div>
</form>
<br />
<table class="table table-hover ">
    <tr>
        <th>
            Service Provider Name
           @* @Html.DisplayNameFor(model => model.ServiceProviderName)*@
        </th>
        <th>
            Category
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
        </th>

        <th>
            Rating
            @*@Html.DisplayNameFor(model => model.Rating)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ServiceProviders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServiceProviderID }, new { @class = "btn btn-success" })
               @* @Html.ActionLink("Details", "Details", new { id = item.ServiceProviderID }, new { @class = "btn btn-primary" })*@
                @Html.ActionLink("Delete", "Delete", new { id = item.ServiceProviderID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>